/* reset */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: #fff;
}

p {
    font-size: 1.8rem;
    font-family: 'Work Sans', sans-serif;
    line-height: 200%;
    margin-top: 3rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 2.2rem;
    font-family: 'Work Sans', sans-serif;
    color: #554346;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 3rem;
}

h1, h3, h4 {
    letter-spacing: .5rem;
    font-family: 'Montserrat', sans-serif;
    color: #3f3335;
}

/* navbar */

.navbar {
    z-index: 100;
    text-align: center;
    background-color: #fff;
    width: 100%;
    height: 5rem;
}

.navbar__logo {
    float: left;
    padding-left: 1rem;
}

.navbar__logo-img {
    height: 5rem;
}

.navbar__logo-text {
    height: 3.5rem;
    padding-bottom: 1.5rem;
}

.navbar__links {
    float: right;
}

.navbar__links-icon {
    padding-top: 1rem;
    margin-right: 1rem;
    height: 4rem;
}

/* header */
.header {
    height: 60vh;
    width: 100%;
    position: relative;
    background: linear-gradient(300deg, #F05AE5, #C5C6FF);
}

.header__text {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

.header__text, h2 {
    margin-top: 3rem;
}

.header__text, button {
    margin: 0 auto;
    margin-top: 5rem;
}

/* section */
section {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, #C5C6FF 0%, #fff 46%);
    padding-top: 14rem;
    padding-bottom: 14rem;
}

.section__heading {
    width: 100%;
    text-align: center;
}

.section__heading-icon {
    width: 12rem;
}

/* about section */

.section__about {
    min-height: 50rem;
    margin-top: 5rem;
}

.section__about-text {
    float: left;
    padding: 2rem;
    width: 60%;
    padding-left: 10rem;
}

.section__about-img {
    float: right;
    height: 50rem;
    vertical-align: middle;
}

/* resources section */
.section__resources {
    min-height: 50rem;
    margin-top: 10rem;
    padding: 0 1rem;
}

/* layout */
.grid-container {
    max-width: 80rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5rem;
    grid-row-gap: 10rem;
}

.grid-item  {
    text-align: center;
    margin: 0 auto;
    width: 30rem;
    height: 40rem;
}

/* RE-USABLE COMPONENTS */

/* card */
.card {
  background-color: #fff;
  box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2);
  border-radius: .5rem;
  width: 30rem;
  height: 40rem;
  margin: 0 auto;
}

.card__img {
    height: 30rem;
    background-size: cover;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.card__img-html {
    background-image: linear-gradient(300deg, rgb(240, 90, 229, .7), rgb(197, 198, 255, .7)), url('images/cards/html.jpg');
}

.card__img-css {
    background-image: linear-gradient(300deg, rgb(240, 90, 229, .7), rgb(197, 198, 255, .7)), url('images/cards/css.jpg');
}

.card__img-javascript {
    background-image: linear-gradient(300deg, rgb(240, 90, 229, .7), rgb(197, 198, 255, .7)), url('images/cards/javascript.jpg');
}

.card__img-design {
    background-image: linear-gradient(300deg, rgb(240, 90, 229, .7), rgb(197, 198, 255, .7)), url('images/cards/design.jpg');
}

.card__text {
    width: 100%;
    height: 10rem;
    padding: 1rem;
    text-align: center;
    position: relative;
}

.card__text h4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* button */

button {
    background-color: transparent;
    border-radius: 5rem;
    border: 3px solid;
    max-width: 30rem;
    padding: 1.5rem 2.5rem;
    flex: auto;
    align-items: center;
}

button i {
    vertical-align: middle;
    font-size: 3rem;
    margin-right: .8rem;
}

button span {
    font-size: 2rem;
    vertical-align: middle;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}