*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #ECC1EE;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.4rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    letter-spacing: 2px;
}

.navbar {
    z-index: 100;
    text-align: center;
    background-color: #fff;
    width: 100%;
    height: 5rem;
}

.navbar__logo {
    float: left;
    padding-left: 1rem;
}

.navbar__logo-img {
    height: 5rem;
}

.navbar__logo-text {
    height: 3.5rem;
    padding-bottom: 1.5rem;
}

.navbar__links {
    float: right;
}

.navbar__links-icon {
    padding-top: 1rem;
    margin-right: 1rem;
    height: 4rem;
}

.container {
    background-color: white;
    padding: 5rem;
    margin: 0 auto;
    width: 80rem;
}

.header-logo {
    width: 18rem;
}

.text-center {
    text-align: center;
}