/* reset */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 50%;
      }
  }

  @media only screen and (max-width: 400px) {
    html {
        font-size: 45%;
      }
  }

body {
    box-sizing: border-box;
    background-color: #fff;
}

p {
    font-size: 1.8rem;
    font-family: 'Work Sans', sans-serif;
    line-height: 200%;
    margin-top: 3rem;
}

@media only screen and (max-width: 400px) {
    p {
        font-size: 2.2rem;
      }
  }

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 6rem;
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 5rem;
       }
    }

h2 {
    font-size: 2.2rem;
    font-family: 'Work Sans', sans-serif;
    color: #554346;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 3rem;
}

h1, h3, h4 {
    letter-spacing: .5rem;
    font-family: 'Montserrat', sans-serif;
    color: #3f3335;
}

/* navbar */

.navbar {
    z-index: 100;
    text-align: center;
    background-color: #fff;
    width: 100%;
    height: 5rem;
}

.navbar__logo {
    float: left;
    padding-left: 1rem;
}

.navbar__logo-img {
    height: 5rem;
}

.navbar__logo-text {
    height: 3.5rem;
    padding-bottom: 1.5rem;
}

.navbar__links {
    float: right;
}

.navbar__links-icon {
    padding-top: 1rem;
    margin-right: 1rem;
    height: 4rem;
}

/* header */
.header {
    height: 60vh;
    width: 100%;
    position: relative;
    background: linear-gradient(300deg, #F05AE5, #C5C6FF);
}

.header__text {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

.header__text h2 {
    margin-top: 3rem;
}

.header button {
    margin: 0 auto;
    margin-top: 5rem;
}

/* section */
section {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, #C5C6FF 0%, #fff 46%);
    padding-top: 14rem;
    padding-bottom: 14rem;
}

.section__heading {
    width: 100%;
    text-align: center;
}

.section__heading-icon {
    width: 12rem;
}

/* about section */

.section__about {
    min-height: 50rem;
    margin: 0 auto;
    margin-top: 5rem;
    max-width: 136rem;
}

.section__about-text {
    float: left;
    padding: 2rem;
    width: 60%;
    padding-left: 10rem;
}

.section__about-img {
    float: right;
    height: 50rem;
    vertical-align: middle;
}

.section__about-cta {
    width: 100%;
    padding-top: 5rem;
    text-align: center;
}

@media only screen and (max-width: 1250px) {
    .section__about-text {
        width: 100%;
        float: none;
        display: block;
    }

    .section__about-img {
        float: none;
        display: block;
        margin: 0 auto;
    }
  }

  @media only screen and (max-width: 600px) {
    .section__about-text {
        padding-left: 2rem;
    }
  }

/* resources section */
.section__resources {
    min-height: 50rem;
    margin-top: 10rem;
    padding: 0 1rem;
}

/* footer */

/* FOOTER */
.footer {
    background: linear-gradient(300deg, #F05AE5, #C5C6FF); 
    padding: 3rem 10rem;
    text-align: center;
}

 .footer__logobox {
    margin: 0 auto;
}

.footer__logobox-img {
    height: 8rem;
}

.footer__logobox-text {
    height: 2rem;
}

.footer__socials {
    color: white;
    margin: 2.5rem 0;
    font-size: 3rem;
}

.footer__socials-icon {
    margin-right: 1rem;
}

.footer__copyright {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.footer p {
    font-size: 1.4rem;
    color: #554346;
    line-height: 100%;
    margin-top: 1rem;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: #F05AE5;
}

/* layout */
.grid-container {
    max-width: 80rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5rem;
    grid-row-gap: 10rem;
}

.grid-item  {
    text-align: center;
    margin: 0 auto;
    width: 30rem;
    height: 40rem;
}

@media only screen and (max-width: 1250px) {
    .grid-container {
        max-width: 90rem;
        grid-template-columns: auto;
        grid-column-gap: 5rem;
        grid-row-gap: 5rem;
    }
  }

/* RE-USABLE COMPONENTS */
/* card */
.card {
  position: relative;
  background-color: #fff;
  box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2);
  border-radius: .5rem;
  width: 30rem;
  height: 40rem;
  margin: 0 auto;
  overflow: none;
  transition: all .3s ease-in-out;
}

.card:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -.5px, 0px);
}

.card__img {
    height: 30rem;
    background-size: cover;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.card__img-html {
    background-image: linear-gradient(300deg, rgb(240, 90, 229, .7), rgb(197, 198, 255, .7)), url('images/cards/html.jpg');
}

.card__img-css {
    background-image: linear-gradient(300deg, rgb(240, 90, 229, .7), rgb(197, 198, 255, .7)), url('images/cards/css.jpg');
}

.card__img-javascript {
    background-image: linear-gradient(300deg, rgb(240, 90, 229, .7), rgb(197, 198, 255, .7)), url('images/cards/javascript.jpg');
}

.card__img-design {
    background-image: linear-gradient(300deg, rgb(240, 90, 229, .7), rgb(197, 198, 255, .7)), url('images/cards/design.jpg');
}

.card__text {
    width: 100%;
    height: 10rem;
    padding: 1rem;
    text-align: center;
    position: relative;
}

.card__text h4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card__links {
    display: none;
    border-radius: .5rem;
    width: 100%;
    height: 100%;
    padding-top: 3.3rem;

    background: linear-gradient(to bottom, rgba(197, 198, 255, 0), rgba(240,90,229,0.1), rgba(197, 198, 255, .5), rgba(240,90,229,0.2), #C5C6FF, rgba(240,90,229,0.3));
    background-size: 400% 400%;

    /* animation */
    animation: gradientFadeIn 1.5s ease forwards;

}

.card__links ul {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.card__links li {
    opacity: 0;

    /* animation */
    animation: listItemsFadeIn 1.5s linear forwards;
    animation-delay: 1.5s;
}

.card__links li:not(:last-child) {
    margin-bottom: 3rem;
}

.card__links h4 {
    opacity: 0;
    margin-bottom: 2rem;

    /* animation */
    animation: listItemsFadeIn 1.5s linear forwards;
    animation-delay: 1s;
}

.card__links a {
    color: #554346;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    border: solid 3px #554346;
    border-radius: 2.5rem;
    padding: .8rem;
    margin-bottom: 1rem;
}

.card__links a:hover {
    color: #FFF;
    border-color: #FFF;
}

/* card animations */

@keyframes gradientFadeIn {
    0% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 100%;
    }
}

@keyframes listItemsFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* button */

button {
    cursor: pointer;
    background-color: transparent;
    border-radius: 5rem;
    max-width: 30rem;
    padding: 1.5rem 2.5rem;
    flex: auto;
    align-items: center;
}

button i {
    vertical-align: middle;
    font-size: 3rem;
    margin-right: .8rem;
}

button span {
    font-size: 2rem;
    vertical-align: middle;
}

.btn-white {
    border: 3px solid #FFF;
    color: #FFF;
}

.btn:hover {
    background: linear-gradient(300deg, #F05AE5, #C5C6FF);
    border: 3px solid #FFF;
    color: #FFF;
}

.btn-pink {
    border: 3px solid #F05AE5;
    color: #F05AE5;
}